@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import "../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";

:root {
  --white: #fff;
  --black: #030303;
  --gray: #333333;
  --main: #ff7e00;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont,  'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--black);
  color: var(--white);
  font-size: 16px;
}

.rating .MuiRating-iconFilled {
  color: blueviolet;
}

.rating .MuiRating-iconEmpty {
  color: white;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1, .h1 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 20px;
}

p {
  margin: 0 0 1rem 0;
}

/* Grid */
.container {
  padding: 0 24px;
  margin: 0 auto;
}
@media (min-width: 375px) {
  .container {
    max-width: 340px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.row {
  margin: 0 -10px;
}
@media (min-width: 1200px) {
  .row {
    margin: 0 -23px;
  }
}
[class*="col-"] {
  padding: 0 10px;
}
@media (min-width: 1200px) {
  [class*="col-"] {
    padding: 0 23px;
  }
}

/* Header */
header {
  background: var(--main);
  padding: 20px 0;
}
@media (min-width: 768px) {
  header {
      padding: 90px 0 20px;
  }
}

.logo {
  display: block;
  overflow: hidden;
  max-width: 93px;
}
@media (min-width: 768px) {
  .logo {
      max-width: 135px;
  }
}
.logo img {
  width: 100%;
  height: auto;
}

.content {
  padding: 40px 0;
}

/* Intro */
.intro {
  background: var(--main);
  padding: 20px 0;
}
@media (min-width: 992px) {
  .intro {
      min-height: 400px;
  }
}

/* Home Page*/
@media (min-width: 992px) {
  .home-page .content {
    margin-top: -170px;
  }
}
.home-page .h1 {
  margin-bottom: 30px;
}

/* LeadText */
.lead-text {
  font-size: 16px;
}
@media (min-width: 768px) {
  .lead-text {
    font-size: 30px;
    max-width: 66%;
    padding: 40px 0;
    margin-bottom: 0;
  }
}

/* Show Page*/
@media (min-width: 768px) {
  .show .content {
    padding-top: 100px;
  }
}
@media (min-width: 768px) {
  .show .show-item {
    margin-top: 20px;
    margin-bottom: -35px;
  }
}
@media (min-width: 1200px) {
  .show .show-item {
    margin-top: 50px;
    margin-bottom: -50px;
  }
}

/* ShowItem */
.show-less-more {
  cursor: pointer;
  color: blueviolet;
}
.show-item .img-holder {
  background: var(--gray);
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.show-item .img-holder::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("images/icon-thumbnail.svg");
  opacity: .3;
}
.show-item .img-holder img {
  position: relative;
  object-fit: cover;
}
.show-item .text-holder {
  margin-top: 10px;
}
.show-item .text-holder p {
  font-size: 15px;
}
@media (min-width: 992px) {
  .show-item .text-holder p {
    font-size: 20px;
  }
}
.show-item .rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .show-item .rating {
    margin-bottom: 30px;
  }
}
.show-item .rating strong {
  padding-left: 7px;
  color: var(--white);
  font-size: 16px;
}

/* ShowItem Preivew */
@media (min-width: 768px) {
  .show-item.show-item-preview {
      display: flex;
      align-items: flex-start;
  }
}
.show-item.show-item-preview .img-holder {
  height: 0;
  padding-bottom: 129.3%;
}
@media (min-width: 768px) {
  .show-item.show-item-preview .img-holder {
      width: 43.6%;
      padding-bottom: 55.6%;
    }
}
@media (min-width: 1200px) {
  .show-item.show-item-preview .img-holder {
      width: 22.7%;
      padding-bottom: 33.4%;
    }
}
.show-item.show-item-preview img {
  min-height: 440px;
}
@media (min-width: 576px) {
  .show-item.show-item-preview img {
    min-height: 704px;
  }
}
@media (min-width: 768px) {
  .show-item.show-item-preview img {
    min-height: 400px;
  }
}
@media (min-width: 992px) {
  .show-item.show-item-preview img {
    min-height: 535px;
  }
}
@media (min-width: 1200px) {
    .show-item.show-item-preview img {
      min-height: 400px;
    }
}
@media (min-width: 768px) {
  .show-item-preview .text-holder {
      width: 56%;
      padding-left: 30px;
      padding-bottom: 50px;
  }
}
.show-item.show-item-preview .title {
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .show-item.show-item-preview .title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .show-item.show-item-preview .title {
    font-size: 50px;
  }
}

/* ShowItemGrid */
.show-item-link {
  text-decoration: none;
  color: var(--white);
}
.show-item-link:hover {
  color: var(--main);
}
.show-item.show-item-grid {
  height: calc(100% - 40px);
  margin-bottom: 40px;
  font-size: 14px;
  display: block;
  transition: color .3s;
}
.show-item.show-item-grid:hover .img-holder {
  transform: scale(1.03);
  box-shadow: 0 0 40px rgba(255,126,0, 0.3);
}
.show-item.show-item-grid .img-holder {
  transition: box-shadow .3s, transform .3s;
  margin-bottom: 15px;
  will-change: transform;
  height: 0;
  padding-bottom: 148.6%;
}
.show-item.show-item-grid .img-holder img {
  min-height: 245px;
}
@media (min-width: 576px) {
  .show-item.show-item-grid .img-holder img {
      min-height: 255px;
  }
}
@media (min-width: 992px) {
  .show-item.show-item-grid .img-holder img {
      min-height: 240px;
  }
}
.show-item.show-item-grid .rating {
  margin-bottom: 20px;
}
.show-item.show-item-grid .text-holder {
  margin-top: 10px;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.show-item.show-item-grid .title {
  font-weight: 300;
  font-size: 14px;
}
.MuiSkeleton-root {
  background-color: rgba(255,255,255, 0.3) !important;
}

@media (min-width: 786px) {
  .show-item.show-item-grid .title {
      font-size: 16px;
  }
}

/* ShowInfo */
.show-info {
  margin-bottom: 20px;
}

/* ShowInfoItem */
.show-info-item {
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .show-info-item  {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    min-height: 66px;
    padding: 5px 0;
  }
}
@media (min-width: 768px) {
  .show-info-item .title {
    width: 200px;
  }
}
@media (min-width: 992px) {
  .show-info-item .title {
    width: 240px;
  }
}
.show-info-item .title {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .show-info-item .title {
    margin-bottom: 0;
  }
}
.show-info-item p {
  margin-bottom: 0;
  opacity: .7;
}
@media (min-width: 768px) {
  .show-info-item p {
    max-width: calc(100% - 200px);
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .show-info-item p {
    max-width: calc(100% - 240px);
  }
}

/* StaringItem */
.starring-item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .starring-item  {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    min-height: 66px;
    padding: 5px 0;
  }
}
.starring-item .title,
.starring-item p {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .starring-item .title {
    width: 150px;
  }
}
@media (min-width: 992px) {
  .starring-item .title {
    width: 240px;
  }
}
@media (min-width: 768px) {
  .starring-item p {
    padding-left: 10px;
    width: calc(100% - 150px);
  }
}
@media (min-width: 992px) {
  .starring-item p {
    width: calc(100% - 240px);
  }
}
.starring-item a {
  color: var(--main);
  text-decoration: none;
}
.starring-item a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .starring-item .text-holder {
    display: flex;
    align-items: center;
    max-width: calc(100% - 88px);
  }
}
.starring-item .img-holder {
  background: var(--gray);
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 52px;
  height: 52px;
  margin-right: 10px;
  border: 2px solid transparent;
  transition: border-color .3s;
}
@media (min-width: 768px) {
  .starring-item .img-holder {
    margin-right: 30px;
  }
}
.starring-item .img-holder:hover  {
  border-color: var(--main);
}
.starring-item .img-holder img {
  width: 100%;
  object-fit: cover;
  min-height: 58px;
  position: relative;
}
.starring-item .img-holder::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 16px;
  background: url("./images/icon-user.svg") no-repeat;
  opacity: .3;
}
